@charset "utf-8";
// /*=============================================================
// 	signin style
// =============================================================*/
.signin{
	text-align: center;
}
.signin__text{
	line-height: 1.7;
	display: inline-block;
	text-align: left;
	margin-top: 15px;
}